.side ul li {
  margin-bottom: 4px;
  border: 2px solid rgb(255, 255, 255);
  text-align: left;
  padding: 5px 0px 5px 0px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  width: 120%;
}
